@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  /* Renkler */
  --color-cream: #F6F2EB;
  --color-beige: #ECE5D8;
  --color-espresso: #4B382A;
  --color-coffee: #5C4A3A;
  --color-taupe: #8D7F73;
  --color-tan: #DDD3C4;
  --color-red: #A8422E;  
  --color-yellow: #C08A2E;
}

@utility h1 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}
@utility h2 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}
@utility h3 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@utility h4 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
@utility h5 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
@utility text-body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
@utility text-body-sm {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 22px;
}
@utility text-body-xs {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

body {
  background-color: gray;
}

select.placeholder-shown {
    color: #8D7F73;
}

select option {
    color: #8D7F73;  /* diğer option'lar normal renkte */
}