@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');


@import "tailwindcss";

@theme {
  /* Renkler */
  --color-cream: #F6F2EB;
  --color-beige: #ECE5D8;
  --color-espresso: #4B382A;
  --color-coffee: #5C4A3A;
  --color-taupe: #8D7F73;
  --color-tan: #DDD3C4;
  --color-danger: #C0392B;  
}

@utility h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  line-height: 44px;
}
@utility h2 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  line-height: 36px;
}
@utility h3 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  line-height: 32px;
}
@utility h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 28px;
}
@utility h5 {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 24px;
}
@utility text-body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
@utility text-body-sm {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
}
@utility text-body-xs {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

body {
  background-color: gray;
}

select.placeholder-shown {
    color: #8D7F73;
}

select option {
    color: #8D7F73;  /* diğer option'lar normal renkte */
}